In [4]:
import seaborn as sns 
titanic = sns.load_dataset("titanic")
df = titanic.loc[0:4,"survived":"age"]
df

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [11]:
col1 = list(df.columns)
print(col1,"\n")

print(" sorted (오름차순)으로 정렬한 결과")
col2 = sorted(df.columns) # sorted 는 오름차순으로 정렬을 해 준다 
print(col2, "\n")

['survived', 'pclass', 'sex', 'age']

 sorted (오름차순)으로 정렬한 결과
['age', 'pclass', 'sex', 'survived']

In [10]:
df2 = df[col2]
df2   # 오름차순으로 콜럼들을 정렬한 결과

    age  pclass     sex  survived
0  22.0       3    male         0
1  38.0       1  female         1
2  26.0       3  female         1
3  35.0       1  female         1
4  35.0       3    male         0

In [13]:
# reversed 를 이용해서 역순으로 정렬해보자 
reversed_col = list(reversed(df.columns))
print(reversed_col,"\n")
df3 = df[reversed_col]
df3

['age', 'sex', 'pclass', 'survived']

    age     sex  pclass  survived
0  22.0    male       3         0
1  38.0  female       1         1
2  26.0  female       3         1
3  35.0  female       1         1
4  35.0    male       3         0

In [26]:
# 열분리하기 

import pandas as pd 

df = pd.read_excel("C:\\Users\\yuna\\Downloads\\주가데이터.xlsx")
print(df)
print("\n")
print(df.dtypes)

         연월일   당일종가  전일종가
0 2018-07-02  10100   600
1 2018-06-29  10700   300
2 2018-06-28  10400   100
3 2018-06-27  10900   300
4 2018-06-26  10800   500


연월일     datetime64[ns]
당일종가             int64
전일종가             int64
dtype: object

In [27]:
# 연월일 컬럼을 분리해보자 

df["연월일"] = df["연월일"].astype("str")
print(df.dtypes) # 연월일 컬럼이 datetime 에서 str 로 변경된 것을 확인할 수있다.

연월일     object
당일종가     int64
전일종가     int64
dtype: object

In [28]:
dates = df["연월일"].str.split("-")
dates

0    [2018, 07, 02]
1    [2018, 06, 29]
2    [2018, 06, 28]
3    [2018, 06, 27]
4    [2018, 06, 26]
Name: 연월일, dtype: object

In [30]:
df["연"] = dates.str.get(0)   # index 0 인 년만 뽑아내기 
df["월"] = dates.str.get(1)   # index 1인 월만 뽑아내기
df["일"] = dates.str.get(2)   # index 2인 일만 뽑아내기 
df

          연월일   당일종가  전일종가     연   월   일
0  2018-07-02  10100   600  2018  07  02
1  2018-06-29  10700   300  2018  06  29
2  2018-06-28  10400   100  2018  06  28
3  2018-06-27  10900   300  2018  06  27
4  2018-06-26  10800   500  2018  06  26

In [31]:
# mapping &  for 문을 이용해 같은 결과를 출력해보자 

df = pd.read_excel("C:\\Users\\yuna\\Downloads\\주가데이터.xlsx")
df

         연월일   당일종가  전일종가
0 2018-07-02  10100   600
1 2018-06-29  10700   300
2 2018-06-28  10400   100
3 2018-06-27  10900   300
4 2018-06-26  10800   500

In [32]:
df["연월일"] = df["연월일"].astype("str")   # str로 데이터 타입 변경해주기 

col = ["연","월","일"]
for i in range(len(col)):
    df[col[i]] = df["연월일"].apply(lambda x: x.split("-")[i])
    
df.head()

          연월일   당일종가  전일종가     연   월   일
0  2018-07-02  10100   600  2018  07  02
1  2018-06-29  10700   300  2018  06  29
2  2018-06-28  10400   100  2018  06  28
3  2018-06-27  10900   300  2018  06  27
4  2018-06-26  10800   500  2018  06  26

In [34]:
# 판다스 문자열 전처리하기

df = pd.read_excel("C:\\Users\\yuna\\Downloads\\법정동.xlsx")
df

        법정동코드           법정동명 폐지여부
0  1100000000         서울특별시    존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [38]:
# 앞에 5자리만 추출해보자 
# .str[]
df["법정동명"].str[:5]

0    서울특별시
1    서울특별시
2    서울특별시
3    서울특별시
4    서울특별시
Name: 법정동명, dtype: object

In [39]:
# 마지막 한글자만 추출 
df["법정동명"].str[-1].head()

0
1    구
2    동
3    동
4    동
Name: 법정동명, dtype: object

In [41]:
# 문자열 쪼개기 
# .str.split()
df["법정동명"].str.split(" ")  # 공백으로 분리해보자

0            [서울특별시, ]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

In [45]:
# 분할된 개별 리스트를 데이프 프레임으로 만들려면 expand = True 옵션 주기
df = pd.read_excel("C:\\Users\\yuna\\Downloads\\법정동.xlsx")
df["법정동명"].str.split(" ", expand= True)

       0    1     2
0  서울특별시       None
1  서울특별시  종로구  None
2  서울특별시  종로구   청운동
3  서울특별시  종로구   신교동
4  서울특별시  종로구   궁정동

In [46]:
# 시자글자 인식 
#  .str.startswith()
df = pd.read_excel("C:\\Users\\yuna\\Downloads\\법정동.xlsx")
df

        법정동코드           법정동명 폐지여부
0  1100000000         서울특별시    존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [47]:
df["법정동명"].str.startswith("서울")
# 서울로 시작하면 True, 아니면 False 로 반환

0    True
1    True
2    True
3    True
4    True
Name: 법정동명, dtype: bool

In [48]:
# 서울로 시작하는 데이터만 필터링해보자 
df[df["법정동명"].str.startswith("서울")]

        법정동코드           법정동명 폐지여부
0  1100000000         서울특별시    존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [49]:
# 끝글자 인식 
# .str.endswith()
# 동으로 끝나는 단어를 찾아보자
df["법정동명"].str.endswith("동")

0    False
1    False
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [51]:
# 동으로 끝나는 데이터만 필터링해보자
df[df["법정동명"].str.endswith("동")]

        법정동코드           법정동명 폐지여부
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [53]:
# 포함글자 인식 
# .str.contains()
# 강서구가 들어간 데이터를 찾아보자
df = pd.read_excel("C:\\Users\\yuna\\Downloads\\법정동.xlsx")
df

        법정동코드           법정동명 폐지여부  Unnamed: 3  Unnamed: 4  Unnamed: 5
0  1100000000         서울특별시    존재         NaN         NaN         NaN
1  1111000000      서울특별시 종로구   존재         NaN         NaN         NaN
2  1111010100  서울특별시 종로구 청운동   존재         NaN         NaN         NaN
3  1111010200  서울특별시 종로구 신교동   존재         NaN         NaN         NaN
4  1111010300  서울특별시 종로구 궁정동   존재         NaN         NaN         NaN
5  1150000000     서울특별시 강서구    존재         NaN         NaN         NaN
6  1150010100  서울특별시 강서구 염창동   존재         NaN         NaN         NaN
7  1150010200  서울특별시 강서구 등촌동   존재         NaN         NaN         NaN
8  1150010300  서울특별시 강서구 화곡동   존재         NaN         NaN         NaN
9  1150010400  서울특별시 강서구 가양동   존재         NaN         NaN         NaN

In [54]:
df["법정동명"].str.contains("강서구")
# 강서구가 들어간 데이터는 True,아니면 False 로 반환

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
Name: 법정동명, dtype: bool

In [55]:
# 강서구가 들어간 데이터만 필터링
df[df["법정동명"].str.contains("강서구")]

        법정동코드           법정동명 폐지여부  Unnamed: 3  Unnamed: 4  Unnamed: 5
5  1150000000     서울특별시 강서구    존재         NaN         NaN         NaN
6  1150010100  서울특별시 강서구 염창동   존재         NaN         NaN         NaN
7  1150010200  서울특별시 강서구 등촌동   존재         NaN         NaN         NaN
8  1150010300  서울특별시 강서구 화곡동   존재         NaN         NaN         NaN
9  1150010400  서울특별시 강서구 가양동   존재         NaN         NaN         NaN

In [64]:
# 문자위치 찾기 
# 왼쪽부터 검색 후, 찾으려는 문자가 없으면 -1
print(df["법정동명"])
print("\n")
print(df["법정동명"].str.find("동"))

0           서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동
3    서울특별시 종로구 신교동
4    서울특별시 종로구 궁정동
5       서울특별시 강서구
6    서울특별시 강서구 염창동
7    서울특별시 강서구 등촌동
8    서울특별시 강서구 화곡동
9    서울특별시 강서구 가양동
Name: 법정동명, dtype: object


0    -1
1    -1
2    12
3    12
4    12
5    -1
6    12
7    12
8    12
9    12
Name: 법정동명, dtype: int64

In [62]:
# 오른쪽부터 검색 후, 찾으려는 문자가 없으면 -1  ( rfind)
df["법정동명"].str.rfind("강")

0   -1
1   -1
2   -1
3   -1
4   -1
5    6
6    6
7    6
8    6
9    6
Name: 법정동명, dtype: int64

In [65]:
# 찾으려는 값 모두 반환 (findall)
df["법정동명"].str.findall("\w+동")

0       []
1       []
2    [청운동]
3    [신교동]
4    [궁정동]
5       []
6    [염창동]
7    [등촌동]
8    [화곡동]
9    [가양동]
Name: 법정동명, dtype: object

In [67]:
# 문자 대체 ( replace)
df["법정동명"].str.replace(" ","**")  # 공백으로 ** 로 대체하자

0            서울특별시**
1         서울특별시**종로구
2    서울특별시**종로구**청운동
3    서울특별시**종로구**신교동
4    서울특별시**종로구**궁정동
5       서울특별시**강서구**
6    서울특별시**강서구**염창동
7    서울특별시**강서구**등촌동
8    서울특별시**강서구**화곡동
9    서울특별시**강서구**가양동
Name: 법정동명, dtype: object

In [86]:
# 원하는 문자열 추출 ( str.extract())
df["법정동명"].str.extract(r"(\w*동)")

#패턴에 맞는 단어가 없을 시 NaN 이 출력

     0
0  NaN
1  NaN
2  청운동
3  신교동
4  궁정동
5  NaN
6  염창동
7  등촌동
8  화곡동
9  가양동

In [ ]:
# 문자열 padding 
# 문자열 길이가 고정되어 부족할 경우 채워야 할 떄가 있음
#  .str.pad

In [87]:
# 문자열 길이 20자, 왼쪽부터"-" 로 채우기
df["법정동명"].str.pad(width = 20, side ="left", fillchar="_")

0    ______________서울특별시
1    ___________서울특별시 종로구
2    _______서울특별시 종로구 청운동
3    _______서울특별시 종로구 신교동
4    _______서울특별시 종로구 궁정동
5    __________서울특별시 강서구
6    _______서울특별시 강서구 염창동
7    _______서울특별시 강서구 등촌동
8    _______서울특별시 강서구 화곡동
9    _______서울특별시 강서구 가양동
Name: 법정동명, dtype: object

In [88]:
# 문자열 길이 20자, 오른쪾부터"-" 로 채우기
df["법정동명"].str.pad(width = 20, side = "right",fillchar = "_")

0    서울특별시 ______________
1    서울특별시 종로구___________
2    서울특별시 종로구 청운동_______
3    서울특별시 종로구 신교동_______
4    서울특별시 종로구 궁정동_______
5    서울특별시 강서구 __________
6    서울특별시 강서구 염창동_______
7    서울특별시 강서구 등촌동_______
8    서울특별시 강서구 화곡동_______
9    서울특별시 강서구 가양동_______
Name: 법정동명, dtype: object

In [89]:
# 문자열 길이 20자, 좌우로 "_"로 채우기
df["법정동명"].str.center(width = 20,fillchar = "_")

0    _______서울특별시 _______
1    _____서울특별시 종로구______
2    ___서울특별시 종로구 청운동____
3    ___서울특별시 종로구 신교동____
4    ___서울특별시 종로구 궁정동____
5    _____서울특별시 강서구 _____
6    ___서울특별시 강서구 염창동____
7    ___서울특별시 강서구 등촌동____
8    ___서울특별시 강서구 화곡동____
9    ___서울특별시 강서구 가양동____
Name: 법정동명, dtype: object

In [90]:
# 왼쪽부터 0으로 채우기 
df["법정동명"].str.zfill(width = 20)

0    00000000000000서울특별시
1    00000000000서울특별시 종로구
2    0000000서울특별시 종로구 청운동
3    0000000서울특별시 종로구 신교동
4    0000000서울특별시 종로구 궁정동
5    0000000000서울특별시 강서구
6    0000000서울특별시 강서구 염창동
7    0000000서울특별시 강서구 등촌동
8    0000000서울특별시 강서구 화곡동
9    0000000서울특별시 강서구 가양동
Name: 법정동명, dtype: object

In [104]:
# 또 다른 예시 
df2 = pd.DataFrame({'col1':['abcde  ',' FFFFghij ','abCCe   '],
                    'col2':['   fgHAAij  ',' fghij ','lmnop   ']})
df2  # 공백, 대소문자가 섞여 있음

         col1          col2
0     abcde       fgHAAij
1   FFFFghij         fghij
2    abCCe         lmnop

In [105]:
#  공백제거 str.strip()  
# 앞뒤 공백을 제거해 준다 

test1 = df2["col2"].str.strip()
test1.iloc[1]

'fghij'

In [107]:
 # 앞 공백을 제거 
test2 = df2["col1"].str.lstrip() 
test2

0      abcde
1    FFFFghij
2     abCCe
Name: col1, dtype: object

In [108]:
# 귓 공백을 제거 
test3 = df2["col1"].str.rstrip()
test3

0        abcde
1     FFFFghij
2        abCCe
Name: col1, dtype: object

In [109]:
test3.iloc[1]

' FFFFghij'

In [111]:
# 대소문자 변경
# str.lower(),str.upper()

df2["col1"].str.lower()  #모두 소문자로 변경

0       abcde
1     ffffghij
2      abcce
Name: col1, dtype: object

In [113]:
df2["col1"].str.upper() # 모두 대문자로 변경

0       ABCDE
1     FFFFGHIJ
2      ABCCE
Name: col1, dtype: object

In [114]:
df2["col1"].str.swapcase()  # 소문자는 대문자, 대문자는 소문자로 변경

0       ABCDE
1     ffffGHIJ
2      ABccE
Name: col1, dtype: object