In [5]:
import pandas as pd 
df = pd.read_csv("C:\\Users\\yuna\\Downloads\\albums.csv", encoding = "latin1")
# latin1 을 넣는 이유는 글자가 깨지지 않게 하기 위해서
df.head(20)

,Number,Year,Album,Artist,Genre,Subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,"Folk Rock, Blues Rock"
4,5,1965,Rubber Soul,The Beatles,"Rock, Pop",Pop Rock
5,6,1971,What's Going On,Marvin Gaye,Funk / Soul,Soul
6,7,1972,Exile on Main St.,The Rolling Stones,Rock,"Blues Rock, Rock & Roll, Classic Rock"
7,8,1979,London Calling,The Clash,Rock,"Punk, New Wave"
8,9,1966,Blonde on Blonde,Bob Dylan,"Rock, Blues","Folk Rock, Rhythm & Blues"
9,10,1968,"The Beatles (""The White Album"")",The Beatles,Rock,"Rock & Roll, Pop Rock, Psychedelic Rock, Exper..."
10,11,1976,The Sun Sessions,Elvis Presley,Rock,Rock & Roll
11,12,1959,Kind of Blue,Miles Davis,Jazz,Modal
12,13,1967,The Velvet Underground & Nico,The Velvet Underground,Rock,"Garage Rock, Art Rock, Experimental"
13,14,1969,Abbey Road,The Beatles,Rock,"Psychedelic Rock, Classic Rock, Pop Rock"
14,15,1967,Are You Experienced,The Jimi Hendrix Experience,"Rock, Blues","Blues Rock, Psychedelic Rock"
15,16,1975,Blood on the Tracks,Bob Dylan,Rock,"Folk Rock, Acoustic, Ballad"
16,17,1991,Nevermind,Nirvana,Rock,"Alternative Rock, Grunge"
17,18,1975,Born to Run,Bruce Springsteen,Rock,Pop Rock
18,19,1968,Astral Weeks,Van Morrison,"Jazz, Rock, Blues, Folk, World, & Country","Acoustic, Classic Rock, Free Improvisation"
19,20,1982,Thriller,Michael Jackson,"Funk / Soul, Pop",Disco

In [3]:
df["Genre"].unique()

array(['Rock', 'Rock, Pop', 'Funk / Soul', 'Rock, Blues', 'Jazz',
       'Jazz, Rock, Blues, Folk, World, & Country', 'Funk / Soul, Pop',
       'Blues', 'Pop', 'Rock, Folk, World, & Country',
       'Folk, World, & Country', 'Classical, Stage & Screen', 'Reggae',
       'Hip Hop', 'Jazz, Funk / Soul', 'Rock, Funk / Soul, Pop',
       'Electronic, Rock',
       'Jazz, Rock, Funk / Soul, Folk, World, & Country',
       'Jazz, Rock, Funk / Soul, Pop, Folk, World, & Country',
       'Funk / Soul, Stage & Screen',
       'Electronic, Rock, Funk / Soul, Stage & Screen',
       'Rock, Funk / Soul', 'Rock, Reggae', 'Jazz, Pop',
       'Funk / Soul, Folk, World, & Country', 'Latin, Funk / Soul',
       'Funk / Soul, Blues',
       'Reggae,ï¿½Pop,ï¿½Folk, World, & Country,ï¿½Stage & Screen',
       'Electronic,ï¿½Stage & Screen', 'Jazz, Rock, Funk / Soul, Blues',
       'Jazz, Rock', 'Rock, Latin, Funk / Soul', 'Electronic, Rock, Pop',
       'Hip Hop, Rock, Funk / Soul', 'Electronic, Pop',
       'Rock, Blues, Pop', 'Electronic, Rock, Funk / Soul, Pop',
       'Rock, Funk / Soul, Folk, World, & Country', 'Rock,ï¿½Blues',
       'Rock, Pop, Folk, World, & Country', 'Rock, Latin',
       'Rock, Stage & Screen', 'Rock, Blues, Folk, World, & Country',
       'Electronic', 'Electronic, Funk / Soul, Pop',
       'Pop, Folk, World, & Country', 'Electronic, Hip Hop, Pop',
       'Blues, Folk, World, & Country',
       'Electronic, Hip Hop, Funk / Soul, Pop',
       'Rock, Funk / Soul, Blues, Pop, Folk, World, & Country',
       'Jazz, Pop, Folk, World, & Country', 'Jazz, Rock, Pop',
       'Hip Hop, Funk / Soul', 'Hip Hop, Rock',
       'Electronic, Hip Hop, Funk / Soul',
       'Funk / Soul,ï¿½Folk, World, & Country',
       'Electronic, Hip Hop, Reggae, Pop', 'Electronic, Reggae',
       'Electronic, Funk / Soul', 'Rock, Funk / Soul, Blues',
       'Rock,ï¿½Pop', 'Electronic, Rock, Funk / Soul, Blues, Pop',
       'Rock, Reggae, Latin'], dtype=object)

In [6]:
df["Genre"]== "Blues" # boolean 값으로 나타냄

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498     True
499    False
Name: Genre, Length: 500, dtype: bool

In [7]:
df[df["Genre"] == "Blues"] # Genre가 Blues 값으로 나타난것을 df해서 나타냄

,Number,Year,Album,Artist,Genre,Subgenre
21,22,1990,The Complete Recordings,Robert Johnson,Blues,Delta Blues
140,141,1965,Live at the Regal,B.B. King,Blues,Chicago Blues
153,154,1958,Moanin' in the Moonlight,Howlin' Wolf,Blues,Chicago Blues
197,198,1967,The Best of Little Walter,Little Walter,Blues,Chicago Blues
237,238,1962,Howlin' Wolf,Howlin' Wolf,Blues,None
281,282,1964,Folk Singer,Muddy Waters,Blues,Delta Blues
376,377,1991,The Ultimate Collection: 1948-1990,John Lee Hooker,Blues,"Country Blues, Electric Blues, Chicago Blues, ..."
498,499,1971,Live in Cook County Jail,B.B. King,Blues,Electric Blues

In [8]:
df[df["Genre"].str.contains("Blues")] # Blues 값 들어가기만 하면 다 나타냄

,Number,Year,Album,Artist,Genre,Subgenre
8,9,1966,Blonde on Blonde,Bob Dylan,"Rock, Blues","Folk Rock, Rhythm & Blues"
14,15,1967,Are You Experienced,The Jimi Hendrix Experience,"Rock, Blues","Blues Rock, Psychedelic Rock"
18,19,1968,Astral Weeks,Van Morrison,"Jazz, Rock, Blues, Folk, World, & Country","Acoustic, Classic Rock, Free Improvisation"
21,22,1990,The Complete Recordings,Robert Johnson,Blues,Delta Blues
48,49,1971,At Fillmore East,The Allman Brothers Band,"Rock, Blues",Blues Rock
49,50,1957,Here's Little Richard,Little Richard,"Rock, Blues","Rock & Roll, Rhythm & Blues"
54,55,1968,Electric Ladyland,The Jimi Hendrix Experience,"Rock, Blues","Electric Blues, Psychedelic Rock"
59,60,1969,Trout Mask Replica,Captain Beefheart & His Magic Band,"Rock, Blues","Dialogue, Field Recording, Avantgarde, Electri..."
101,102,1966,Fresh Cream,Cream,"Rock, Blues","Blues Rock, Electric Blues"
118,119,1960,At Last!,Etta James,"Funk / Soul, Blues","Rhythm & Blues, Soul"
124,125,1971,Pearl,Janis Joplin,"Rock, Blues",Blues Rock
140,141,1965,Live at the Regal,B.B. King,Blues,Chicago Blues
142,143,1968,Gris-Gris,"Dr. John, the Night Tripper","Jazz, Rock, Funk / Soul, Blues","Soul-Jazz, Louisiana Blues, Fusion, Bayou Funk"
153,154,1958,Moanin' in the Moonlight,Howlin' Wolf,Blues,Chicago Blues
179,180,1965,"The Rolling Stones, Now!",The Rolling Stones,"Rock, Blues, Pop","Pop Rock, Rhythm & Blues, Rock & Roll"
194,195,1966,"Blues Breakers With Eric Clapton (""The Beano A...",John Mayall & The Bluesbreakers,"Rock,ï¿½Blues","Blues Rock,ï¿½Electric Blues,ï¿½Harmonica Blues"
197,198,1967,The Best of Little Walter,Little Walter,Blues,Chicago Blues
204,205,1968,Wheels of Fire,Cream,"Rock, Blues","Blues Rock, Psychedelic Rock, Classic Rock"
215,216,1986,Bo Diddley / Go Bo Diddley,Bo Diddley,"Rock, Blues","Rhythm & Blues, Rock & Roll"
216,217,1961,Two Steps From the Blues,"Bobby ""Blue"" Bland","Funk / Soul, Blues","Rhythm & Blues, Soul"
221,222,1972,New Orleans Piano,Professor Longhair,"Funk / Soul, Blues",Piano Blues
237,238,1962,Howlin' Wolf,Howlin' Wolf,Blues,None
244,245,1993,All Killer No Filler! The Jerry Lee Lewis Anth...,Jerry Lee Lewis,"Rock, Blues, Folk, World, & Country","Country Blues, Rock & Roll, Rhythm & Blues"
277,278,1997,Anthology of American Folk Music,Various,"Blues, Folk, World, & Country","Cajun, Country, Field Recording, Gospel, Delta..."
281,282,1964,Folk Singer,Muddy Waters,Blues,Delta Blues
310,311,1994,The Sun Records Collection,Various,"Rock, Funk / Soul, Blues, Pop, Folk, World, & ...","Country Blues, Rock & Roll, Rockabilly"
333,334,1979,Squeezing Out Sparks,Graham Parker & The Rumour,"Rock, Blues",None
347,348,1960,Muddy Waters at Newport 1960,Muddy Waters,"Rock, Blues","Blues Rock, Chicago Blues"
349,350,1966,Roger the Engineer,The Yardbirds,"Rock, Blues","Blues Rock, Pop Rock"
376,377,1991,The Ultimate Collection: 1948-1990,John Lee Hooker,Blues,"Country Blues, Electric Blues, Chicago Blues, ..."
398,399,1985,Rain Dogs,Tom Waits,"Rock, Blues",Blues Rock
407,408,1989,I Do Not Want What I Haven't Got,Sinead O'Connor,"Rock, Funk / Soul, Blues","Blues Rock, Rhythm & Blues, Soul"
409,410,1997,Time Out of Mind,Bob Dylan,"Rock, Blues",Blues Rock
426,427,2002,Sleepless,Peter Wolf,"Rock, Blues, Pop","Blues Rock, Pop Rock, Ballad"
467,468,1965,The Paul Butterfield Blues Band,The Paul Butterfield Blues Band,"Rock, Blues","Blues Rock, Electric Blues, Chicago Blues, Mod..."
471,472,1987,Faith,George Michael,"Electronic, Rock, Funk / Soul, Blues, Pop","Downtempo, Soft Rock, Pop Rock, Synth-pop"
490,491,1967,Born Under a Bad Sign,Albert King,"Funk / Soul, Blues","Electric Blues, Rhythm & Blues, Soul"
498,499,1971,Live in Cook County Jail,B.B. King,Blues,Electric Blues

In [10]:
df[df["Genre"].str.startswith("Blues")]  # Blues 로 시작하는 장르를 뽑음

,Number,Year,Album,Artist,Genre,Subgenre
21,22,1990,The Complete Recordings,Robert Johnson,Blues,Delta Blues
140,141,1965,Live at the Regal,B.B. King,Blues,Chicago Blues
153,154,1958,Moanin' in the Moonlight,Howlin' Wolf,Blues,Chicago Blues
197,198,1967,The Best of Little Walter,Little Walter,Blues,Chicago Blues
237,238,1962,Howlin' Wolf,Howlin' Wolf,Blues,None
277,278,1997,Anthology of American Folk Music,Various,"Blues, Folk, World, & Country","Cajun, Country, Field Recording, Gospel, Delta..."
281,282,1964,Folk Singer,Muddy Waters,Blues,Delta Blues
376,377,1991,The Ultimate Collection: 1948-1990,John Lee Hooker,Blues,"Country Blues, Electric Blues, Chicago Blues, ..."
498,499,1971,Live in Cook County Jail,B.B. King,Blues,Electric Blues

In [11]:
# blues가 들어간 장르와 안 들어간 장르를 나누어서  분류라는 새로운 컬럼에 넣어보자

Is_Blues = df["Genre"].str.contains("Blues")
Is_Blues   # blues 가 들어가 있으면  True, 아니면 False 로 나타남

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498     True
499    False
Name: Genre, Length: 500, dtype: bool

In [12]:
df.loc[Is_Blues == True, "분류"] = "블루스"
df.loc[Is_Blues == False, "분류"] = "안블루스"
df

,Number,Year,Album,Artist,Genre,Subgenre,분류
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock",안블루스
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock",안블루스
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock",안블루스
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,"Folk Rock, Blues Rock",안블루스
4,5,1965,Rubber Soul,The Beatles,"Rock, Pop",Pop Rock,안블루스
...,...,...,...,...,...,...,...
495,496,1969,Boz Scaggs,Boz Scaggs,Rock,Pop Rock,안블루스
496,497,2001,White Blood Cells,The White Stripes,Rock,"Indie Rock, Alternative Rock, Blues Rock, Gara...",안블루스
497,498,1989,The Stone Roses,The Stone Roses,Rock,Indie Rock,안블루스
498,499,1971,Live in Cook County Jail,B.B. King,Blues,Electric Blues,블루스
499,500,1998,Aquemini,OutKast,Hip Hop,"Reggae, Gangsta, Soul, Conscious",안블루스

In [5]:
import pandas as pd
df = pd.read_csv("C:\\Users\\yuna\\Downloads\\parks.csv")
df.head()

          관리번호       공원명  공원구분            소재지도로명주소          전화번호
0  29170-00001    문화근린공원  근린공원     광주광역시 북구 대천로 86  062-410-6438
1  29170-00002  두암제1근린공원  근린공원     광주광역시 북구 삼정로 36  062-410-6438
2  29170-00003  첨단체육근린공원  근린공원  광주광역시 북구 임방울대로 877  062-410-6438
3  29170-00004  일곡제1근린공원  근린공원     광주광역시 북구 일곡로 55  062-410-6438
4  29170-00005  일곡제2근린공원  근린공원    광주광역시 북구 설죽로 526  062-410-6438

In [20]:
df1 = df["전화번호"].str.split("-")  # series 는 "split" 속성을 가지고 있지 않아서 str를 써줘야함 
print(df1)
print("\n")
df2 = df["전화번호"].str.split("-", expand = True)  #  expand = True 를 쓰면 새로운 컬럼에 입힌다
print(df2)
print("\n")
df["지역번호"] = df2[0]

0       [062, 410, 6438]
1       [062, 410, 6438]
2       [062, 410, 6438]
3       [062, 410, 6438]
4       [062, 410, 6438]
              ...
8117    [041, 630, 1268]
8118    [054, 680, 6340]
8119    [054, 680, 6340]
8120    [054, 680, 6340]
8121    [054, 680, 6340]
Name: 전화번호, Length: 8122, dtype: object


        0    1     2
0     062  410  6438
1     062  410  6438
2     062  410  6438
3     062  410  6438
4     062  410  6438
...   ...  ...   ...
8117  041  630  1268
8118  054  680  6340
8119  054  680  6340
8120  054  680  6340
8121  054  680  6340

[8122 rows x 3 columns]

In [21]:
df

,관리번호,공원명,공원구분,소재지도로명주소,전화번호,지역번호
0,29170-00001,문화근린공원,근린공원,광주광역시 북구 대천로 86,062-410-6438,062
1,29170-00002,두암제1근린공원,근린공원,광주광역시 북구 삼정로 36,062-410-6438,062
2,29170-00003,첨단체육근린공원,근린공원,광주광역시 북구 임방울대로 877,062-410-6438,062
3,29170-00004,일곡제1근린공원,근린공원,광주광역시 북구 일곡로 55,062-410-6438,062
4,29170-00005,일곡제2근린공원,근린공원,광주광역시 북구 설죽로 526,062-410-6438,062
...,...,...,...,...,...,...
8117,44800-00082,홍성읍24호소공원,소공원,충청남도 홍성군 홍성읍 오관리 472 일원,041-630-1268,041
8118,47760-00002,서부공원,근린공원,경상북도 영양군 영양읍 군민회관길 42-6,054-680-6340,054
8119,47760-00003,입암공원,근린공원,경상북도 영양군 입암면 신구리 산27-5번지,054-680-6340,054
8120,47760-00004,수비공원,근린공원,경상북도 영양군 수비면 발리리 산48번지,054-680-6340,054
8121,47760-00005,삼지연꽃 테마파크,수변공원,경상북도 영양군 영양읍 삼지리 200번지,054-680-6340,054

In [4]:
import pandas as pd
df = pd.read_csv("C:\\Users\\yuna\\Downloads\\laptops.csv")
df.head()

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN

In [5]:
brand_nation = {"Dell":"US", "Apple":"US","Acer":"Taiwan",
                "HP":"US","Lenova":"China","Microsoft":"US", 
                "Asus":"Taiwan","Alienware":"US"}

In [27]:
df["brand"]
print("\n")
BrandDf = df["brand"].map(brand_nation)  # map의 기능: brand_nation 의 왼쪽의 있는 값을 오른쪽으로 바꿈 
BrandDf.head(20)

0         US
1         US
2         US
3         US
4         US
5         US
6         US
7         US
8         US
9         US
10        US
11        US
12        US
13        US
14        US
15    Taiwan
16        US
17    Taiwan
18        US
19    Taiwan
Name: brand, dtype: object

In [6]:
df["Brand_nation"] = df["brand"].map(brand_nation )
df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments,Brand_nation
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN,US
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN,US
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN,US
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN,US
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN,Taiwan
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN,Taiwan
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN,Taiwan
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN,Taiwan
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN,Taiwan

In [7]:
# groupby 
nation_groups = df.groupby("Brand_nation")
type(nation_groups)

pandas.core.groupby.generic.DataFrameGroupBy

In [10]:
# 국가별로 종류를 나타냄
nation_groups.count()

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
Brand_nation,,,,,,,,,,,,,,,
Taiwan,44,44,44,44,44,44,44,44,44,44,43,14,44,42,9
US,105,105,105,105,105,105,105,105,105,104,102,50,105,100,28

In [12]:
# 브랜드별 평균 가격을 구해보자 
brand_group = df.groupby("brand")
brand_group

In [16]:
brand_price = brand_group.mean().sort_values(by = "price", ascending= False)
# sort_values() 경우에는 어떤 컬럼의 값을 기준으로 정렬해야 하는지 명시적으로 설정해야 하기때문에 "by" 를 넎는다
# price 를 기준으로 정렬한다 
brand_price["price"]

brand
Alienware    164448.833333
Microsoft    128824.500000
Apple        116792.142857
Acer          59730.285714
Dell          58899.290323
HP            56523.145455
Lenovo        47347.777778
Asus          28393.111111
Name: price, dtype: float64

In [2]:
# 데이터 합치기 
import pandas as pd
price_df = pd.read_csv("C:\\Users\\yuna\\Downloads\\vegetable_price.csv")
quantity_df = pd.read_csv("C:\\Users\\yuna\\Downloads\\vegetable_quantity.csv")

In [3]:
price_df

   Product  Price
0   Potato   3000
1    Onion   1600
2  Avocado   5000
3   Garlic   1200
4   Tomato   3500
5  Lettuce   2000
6   Carrot   2500

In [4]:
quantity_df

    Product  Quantity
0    Potato        25
1     Onion        31
2   Avocado        57
3    Pepper        46
4  Broccoli        25
5  Cucumber         9

In [5]:
pd.merge(price_df,quantity_df, on="Product") # inner join 과 같은역할

   Product  Price  Quantity
0   Potato   3000        25
1    Onion   1600        31
2  Avocado   5000        57

In [6]:
pd.merge(price_df, quantity_df,on = "Product",how = "left")  # left join 과 같은 역할

   Product  Price  Quantity
0   Potato   3000      25.0
1    Onion   1600      31.0
2  Avocado   5000      57.0
3   Garlic   1200       NaN
4   Tomato   3500       NaN
5  Lettuce   2000       NaN
6   Carrot   2500       NaN

In [7]:
pd.merge(price_df,quantity_df,on="Product", how = "right") # right join과 같은 역할

    Product   Price  Quantity
0    Potato  3000.0        25
1     Onion  1600.0        31
2   Avocado  5000.0        57
3    Pepper     NaN        46
4  Broccoli     NaN        25
5  Cucumber     NaN         9

In [8]:
pd.merge(price_df, quantity_df, on ="Product", how= "outer") # 모든컬럼이 다 들어가있는 거

    Product   Price  Quantity
0    Potato  3000.0      25.0
1     Onion  1600.0      31.0
2   Avocado  5000.0      57.0
3    Garlic  1200.0       NaN
4    Tomato  3500.0       NaN
5   Lettuce  2000.0       NaN
6    Carrot  2500.0       NaN
7    Pepper     NaN      46.0
8  Broccoli     NaN      25.0
9  Cucumber     NaN       9.0